.a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: rgb(33, 104, 105);
}

article{
    width: 97%;
    height: auto;
    padding: 20px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(220, 225, 222);
    margin-bottom: 2rem;
}

.bandeau{
    height: 20px;
    padding: 5px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
    justify-content: center;
}

.text{
    font-size: 1.1rem;
}

.title{
    font-size: 1.8rem;
    text-align: center;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    /*max-width: 60ch;
    margin: auto;
    column-rule: dotted;*/
}

.block{
    margin: 1rem;
    text-align: justify;
}

.img1{
    max-width: 90%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

.img3{
    max-width: 90%;
    height: auto;
}

.img-logo{
    width: 200px;
    height: 200px;
}


@media (max-width: 320px){
    
    article{
    width: 97%;
    height: auto;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(220, 225, 222);
}

.bandeau{
    justify-content: center;
    height: 8px;
    padding: 0px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
    font-size: 0.6rem;
}

.text{
    font-size: 0.9rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    width: 120%;
    text-align: justify;
}

.img1{
    max-width: 100%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

.img3{
    max-width: 90%;
    height: auto;
}


.img-logo{
    width: 120px;
    height: 120px;
}

h1{
    font-size: 1.4rem;
}
}

@media (max-width: 720px){

h1{
    text-align: center;
    font-size: 1.3rem;
}

article{
    width: 97%;
    height: auto;
    padding: 20px;
    border: 4px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(220, 225, 222);
    margin-bottom: 2rem;
}

.bandeau{
    justify-content: center;
    height: 10px;
    padding: 8px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
    font-size: 0.8rem;
}

.text{
    font-size: 0.8rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.block{
    margin: 1rem;
    text-align: justify;
}

.img1{
    max-width: 100%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

.img3{
    max-width: 90%;
    height: auto;
}


.img-logo{
    width: 100px;
    height: 100px;
}

p{
    font-size: 0.9rem;
}

}