h1{
    text-align: center;
}

main{
    width: 1450px;
    height: auto;
    padding: 20px;
    border: 4px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(220, 225, 222);
    margin-bottom: 2rem;
}

.bandeau{
    width: 1430px;
    height: 20px;
    padding: 5px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
}

.text{
    font-size: 1.1rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}

.block{
    margin: 1rem;
    text-align: justify;
}

.title-paragraphe{
    font-size: 1.1rem;
}

.img1{
    width: 700px;
    height: 500px;
}

.img2{
    width: 500px;
    height: 300px;
}

.img-logo{
    width: 200px;
    height: 200px;
}

@media (max-width: 375px){
    
main{
    width: 590px;
    height: auto;
    margin-right: 1rem;
    padding: 10px;
    border: 4px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(220, 225, 222);
    margin-bottom: 2rem;
}

.bandeau{
    width: 550px;
    height: 15px;
    padding: 5px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
    font-size: 0.7rem;
}

.text{
    font-size: 0.9rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.block{
    margin: 1rem;
    text-align: justify;
}

.title-paragraphe{
    font-size: 1.1rem;
}

.img1{
    width: 500px;
    height: 300px;
}

.img2{
    width: 300px;
    height: 200px;
}

.img-logo{
    width: 120px;
    height: 120px;
}

h1{
    font-size: 1.4rem;
}
}

@media (max-width: 768px){

h1{
    text-align: center;
    font-size: 2.2rem;
}

main{
    width: 310px;
    height: auto;
    padding: 20px;
    border: 4px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(220, 225, 222);
    margin-bottom: 2rem;
}

.bandeau{
    width: 290px;
    height: 20px;
    padding: 5px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
}

.text{
    font-size: 1.1rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}

.block{
    margin: 1rem;
    text-align: justify;
}

.title-paragraphe{
    font-size: 1.1rem;
}

.img1{
    width: 300px;
    height: 200px;
}

.img2{
    width: 500px;
    height: 300px;
}

.img-logo{
    width: 200px;
    height: 200px;
}

}