h1{
    text-align: center;
}

.a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: rgb(33, 104, 105);
}

article{
    width: 97%;
    height: auto;
    padding: 20px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(220, 225, 222);
    margin-bottom: 2rem;
}

.bandeau{
    height: 20px;
    padding: 5px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
    justify-content: center;
}

.text{
    font-size: 1.1rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    /*max-width: 60ch;
    margin: auto;
    column-rule: dotted;*/
}

.block{
    margin: 1rem;
    text-align: justify;
}

.title-paragraphe{
    font-size: 1.3rem;
}

.img1{
    max-width: 90%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

.img3{
    max-width: 90%;
    height: auto;
}

.img-logo{
    width: 200px;
    height: 200px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    background-color: #2B655B;
    color: #E9ECEA;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* TODO: Expliquer les changement */

.logodij {
    height: 50px;
    width: 50px;
}

.menu {
    width: auto;
}

#hamburger {
    display: none;
}

#hamburger-logo {
    cursor: pointer;
    background:#204645;
    display: block;
    color: #E9ECEA;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 200%;
}

#navi {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: right;
    font-size: 140%;
    width: 100%;
    justify-self: flex-start;
    display: none;
}

header:has(#hamburger:checked) #navi {
    display: flex;
}

nav a {
    display: block;
    background:#2B655B;
    padding: 1%;
}

nav a:active {
    background-color: #BCD3C0;
    color: #1F2421;
}

a {
    color: rgb(220, 225, 222);
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #2B655B;
    color: #E9ECEA;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

footer h2 {
    font-size: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    line-height: 1.8;
}

footer a {
    color: #E9ECEA;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
    line-height: 1.8;
}

footer a:hover {
    color: #49A078;
}

.separate-footer {
    width: 75%;
    height: 1px;
    background-color: #E9ECEA;
    margin: 2rem auto;
}

.mention-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9rem;
}


@media (max-width: 320px){
    
    article{
    width: 97%;
    height: auto;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(220, 225, 222);
}

.bandeau{
    justify-content: center;
    height: 8px;
    padding: 0px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
    font-size: 0.6rem;
}

.text{
    font-size: 0.9rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    width: 120%;
    text-align: justify;
}

.title-paragraphe{
    font-size: 1.1rem;
    text-align: center;
}

.img1{
    max-width: 100%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

.img3{
    max-width: 90%;
    height: auto;
}


.img-logo{
    width: 120px;
    height: 120px;
}

h1{
    font-size: 1.4rem;
}
}

@media (max-width: 720px){

h1{
    text-align: center;
    font-size: 1.3rem;
}

article{
    width: 97%;
    height: auto;
    padding: 20px;
    border: 4px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(220, 225, 222);
    margin-bottom: 2rem;
}

.bandeau{
    justify-content: center;
    height: 10px;
    padding: 8px;
    border: 3px solid rgb(73, 160, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px rgb(31, 36, 33);
    background-color: rgb(73, 160, 120);
    font-size: 0.8rem;
}

.text{
    font-size: 0.8rem;
}

.légende{
    font-size: 0.8rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.block{
    margin: 1rem;
    text-align: justify;
}

.title-paragraphe{
    font-size: 1.1rem;
    text-align: center;
}


.img1{
    max-width: 100%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

.img3{
    max-width: 90%;
    height: auto;
}


.img-logo{
    width: 100px;
    height: 100px;
}

p{
    font-size: 0.9rem;
}

}