/* = RESET CSS = */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

header {
    background-color: #2B655B;
    color: #E9ECEA;
    padding: 30px;
    border-radius: 50px;
    margin: 50px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    border-radius: 50%;
    margin-left: 60px;
}

.nav-ul-header {
    list-style: none;
    display: flex;
    gap: 200px;
    margin: 0;
    padding: 0;
}

.nav-ul-header a {
    color: #E9ECEA;
    text-decoration: none;
    font-weight: 500;
    font-size: 28px;
}

.nav-ul-header a:hover {
    text-decoration: underline;
}

#lang {
    background-color: #1F4C44;
    font-size: 15px;
    color: #E9ECEA;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 60px;
}




main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 60px;
    padding-left: 20px;
    max-width: 100%;
    position: relative;
}

/*
a[href^="http://"],
a[href^="https://"]::after {
  content: "🔗";
  margin-left: 0.2em;
}


a[href^="http://"]::before {
  content: "⚠️";
  margin-right: 0.2em;
}
*/

a[data-tooltip] {
    position: relative; /* nécessaire pour placer le tooltip */
}

a[data-tooltip]:hover::after {
    content: attr(data-tooltip); /* affiche le texte du data-tooltip */
    position: absolute;
    top: -1.5em; /* au-dessus du lien */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2B655B;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    white-space: nowrap;
    z-index: 100;
}


main::after {
    content: "";
    display: block;
    width: 2px;
    background-color: rgba(43, 101, 91, 0.3);
    border-radius: 1px;
    position: absolute;
    left: 65%;
    top: 0;
    bottom: 0;
}


.articles {
    flex: 0 0 60%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section-title {
    font-size: 55px;
    color: #2B655B;
    text-align: start;
    margin-bottom: 80px;
    padding-left: 10px;
    font-weight: bold;
}

article {
    background-color: #9CC5A1;
    color: #E9ECEA;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 100px;
    width: 800px;
    height: auto;
}

.article-image img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 30px;
}

.article-content h3 {
    font-size: 30px;
    margin: 0 0 10px;
    color: #2B655B;
    margin-bottom: 30px;
}

.article-content p {
    margin: 0 0 10px;
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #2B655B;
    color: #E9ECEA;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #1f4c44;
}


.anciens-articles {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 30px;
}

.section-ancien-title {
    font-size: 45px;
    color: #2B655B;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 60px;
    padding-left: 10px;
    font-weight: bold;
    align-self: flex-start;
}


.container-anciens-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}


.ancien-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 50px;
}


.ancien-img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}




footer {
    background-color: #2B655B;
    color: #E9ECEA;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

footer h2 {
    font-size: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

footer a {
    color: #E9ECEA;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #49A078;
}

.separate-footer {
    width: 75%;
    height: 1px;
    background-color: #E9ECEA;
    margin: 2rem auto;
}

.mention-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9rem;
}




/* = MOBILE FIRST (max 480px) = */


header {
    margin: 20px 10px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 150px;
}

.container-header {
    flex-direction: column;
    gap: 20px;
}

.logo-header {
    margin-left: 0;
}

.nav-ul-header {
    flex-direction: column;
    gap: 20px;
}

.nav-ul-header a {
    font-size: 20px;
}

#lang {
    margin-right: 0;
}


main {
    flex-direction: column;
    padding: 0 10px;
    margin: 0px;
    gap: 40px;
}

main::after {
    display: none;
}

.articles {
    width: 100%;
    align-items: center;
}

.section-title {
    margin-left: 0;
    font-size: 35px;
    text-align: center;
}

article {
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    margin-bottom: 50px;
}

.article-image img {
    width: 100%;
    height: auto;
}

.article-content h3 {
    font-size: 22px;
}

.article-content p {
    font-size: 16px;
}


.anciens-articles {
    width: 100%;
    margin: 0;
}

.section-ancien-title {
    margin-left: 0;
    text-align: center;
    font-size: 32px;
}

.container-anciens-articles {
    gap: 30px;
}

.ancien-img {
    width: 140px;
    height: 140px;
}


.container-footer {
    flex-direction: column;
    gap: 40px;
    text-align: center;
}



/* = TABLETTES (min-width: 720px) = */


@media (min-width: 720px) {

    .header {
        margin-bottom: 150px;
    }

    .nav-ul-header {
        flex-direction: row;
        gap: 60px;
    }

    main {
        flex-direction: row;
    }

    main::after {
        display: block;
    }

    article {
        flex-direction: row;
        width: 100%;
        max-width: 700px;
    }

    .article-image img {
        width: 200px;
        height: 200px;
    }

    .anciens-articles {
        max-width: 35%;
    }

    .container-anciens-articles {
        gap: 50px;
    }

}



/* =  DESKTOP LARGE (min 1024px) = */

@media (min-width: 1024px) {

    .header {
        margin-bottom: 150px;
    }

    .nav-ul-header {
        gap: 200px;
    }

    article {
        max-width: 800px;
    }

    .article-image img {
        width: 225px;
        height: 225px;
    }

    .ancien-img {
        width: 180px;
        height: 180px;
    }

    .container-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
    }
}