body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCE1DE;
}


header {
    background-color: #2B655B;
    color: #E9ECEA;
    padding: 30px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 150px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    border-radius: 50%;
    margin-left: 60px;
}

.nav-ul-header {
    list-style: none;
    display: flex;
    gap: 200px;
    margin: 0;
    padding: 0;
}

.nav-ul-header a {
    color: #E9ECEA;
    text-decoration: none;
    font-weight: 500;
    font-size: 28px;
}

.nav-ul-header a:hover {
    text-decoration: underline;
}

#lang {
    background-color: #1F4C44;
    font-size: 15px;
    color: #E9ECEA;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 60px;
}

footer {
    background-color: #2B655B;
    color: #E9ECEA;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

footer h2 {
    font-size: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

footer a {
    color: #E9ECEA;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #49A078;
}

.separate-footer {
    width: 75%;
    height: 1px;
    background-color: #E9ECEA;
    margin: 2rem auto;
}

.copyright-footer {
    text-align: center;
    font-size: 0.9rem;
}