body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCE1DE;
}

header {
    background-color: #2B655B;
    color: #E9ECEA;
    padding: 30px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: 200px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    border-radius: 50%;
    margin-left: 60px;
}

.nav-ul-header {
    list-style: none;
    display: flex;
    gap: 200px;
    margin: 0;
    padding: 0;
}

.nav-ul-header a {
    color: #E9ECEA;
    text-decoration: none;
    font-weight: 500;
    font-size: 28px;
}

.nav-ul-header a:hover {
    text-decoration: underline;
}

#lang {
    background-color: #1F4C44;
    font-size: 15px;
    color: #E9ECEA;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 60px;
}




main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 60px;
    padding: 20px 60px;
    max-width: 100%;
    position: relative;
}


main::after {
    content: "";
    display: block;
    width: 2px;
    background-color: rgba(43, 101, 91, 0.3);
    border-radius: 1px;
    position: absolute;
    left: 65%;
    top: 0;
    bottom: 0;
}


.articles {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-title {
    font-size: 65px;
    color: #2B655B;
    text-align: left;
    margin-bottom: 80px;
    margin-left: 2rem;
    border-left: 6px solid #49A078;
    padding-left: 10px;
    font-weight: bold;
}

article {
    background-color: #9CC5A1;
    color: #E9ECEA;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 100px;
}

.article-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.article-content h3 {
    font-size: 40px;
    margin: 0 0 10px;
    color: #2B655B;
}

.article-content p {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #2B655B;
    color: #E9ECEA;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #1f4c44;
}


.anciens-articles {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 50px;
}

.section-title {
    font-size: 45px;
    color: #2B655B;
    text-align: left;
    margin-bottom: 100px;
    margin-left: 1rem;
    border-left: 6px solid #49A078;
    padding-left: 10px;
    font-weight: bold;
    align-self: flex-start;
}


.container-anciens-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


.ancien-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 50px;
}


.ancien-img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}




footer {
    background-color: #2B655B;
    color: #E9ECEA;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

footer h2 {
    font-size: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

footer a {
    color: #E9ECEA;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #49A078;
}

.separate-footer {
    width: 75%;
    height: 1px;
    background-color: #E9ECEA;
    margin: 2rem auto;
}

.copyright-footer {
    text-align: center;
    font-size: 0.9rem;
}