* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

body {
    background-image: url(fondiji.jpg);
    background-attachment:local;
    background-size: cover;
}

#page {
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    font-size: 100%;
    padding: 5%;
    justify-content: space-around;
}

#actulu1 {
    border: #2B655B;
    border-width: 1%;
    border-style: dashed;
    justify-content: space-around;
    border-radius: 50px;
    justify-self: flex-end;
    background-color: rgba(233, 236, 234, 0.5);
}

#eventflo {
    border: #2B655B;
    border-width: 1%;
    border-style: dashed;
    text-align: right;
    border-radius: 50px;
    justify-self: flex-start;
    background-color: rgba(233, 236, 234, 0.5);
}

#actulu2 {
    border: #2B655B;
    border-width: 1%;
    border-style: dashed;
    border-radius: 50px;
    justify-self: flex-end;
    background-color: rgba(233, 236, 234, 0.5);
}

h1 {
    font-size: 130%;
    margin: 10%;
}

p{
    font-size: 110%;
    margin: 7%;
} 

a {
    text-decoration: none;
    color: inherit;
}
