body {
    background-color: #E9ECEA;
    color: #1F2421;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    background-color: #2B655B;
    color: #E9ECEA;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* TODO: Expliquer les changement */

.logodij {
    height: 50px;
    width: 50px;
}

.menu {
    width: auto;
}

#hamburger {
    display: none;
}

#hamburger-logo {
    cursor: pointer;
    background:#204645;
    display: block;
    color: #E9ECEA;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 200%;
}

#navi {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: right;
    font-size: 140%;
    width: 100%;
    justify-self: flex-start;
    display: none;
}
/* changé avec le justify, ajouté de l'espace entre le logo et le menu burger, changé le 'checked' avec :has car ils sont maintenant voisins */

header:has(#hamburger:checked) #navi {
    display: flex;
}

nav a {
    display: block;
    background:#2B655B;
    padding: 1%;
}

nav a:active {
    background-color: #BCD3C0;
    color: #1F2421;
}

a {
    color: #E9ECEA;
    text-decoration: none;
    font-weight: bold;
}

#actulu1 {
    border: red;
    border-width: 1%;
    border-style: dashed;
}

#eventflo {
    border: red;
    border-width: 1%;
    border-style: dashed;
}

#actulu2 {
    border: red;
    border-width: 1%;
    border-style: dashed;
}

h1 {
    font-size: 170%;
    margin: 10%;
}

p{
    font-size: 150%;
    margin: 7%;
}

footer {
    background-color: #2B655B;
    text-align: center;
    color: #E9ECEA;
    padding: 1%;
    font-size: 70%;
    display: flex;
    flex-direction: row;
}