body {
    background-color: #E9ECEA;
    color: #1F2421;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #2B655B;
    color: #E9ECEA;
    width: auto;
}

.menu {
    width: auto;
}

#hamburger {
    display: none;
}

#hamburger-logo {
    cursor: pointer;
    background:#204645;
    display: block;
    color: #E9ECEA;
    text-align: left;
    transform: translateX(94%);
    padding: 1%;
}

nav {
    display: flex;
    display: none;
    flex-direction: column;
    background: black;
    overflow: hidden;
    text-align: left;
}

#hamburger-logo,
nav {
    transition: 0.7s;
}

#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
    display: flex;
}

nav a {
    display: block;
    background:#2B655B;
    padding: 1%;

}

nav a:hover {
    background-color: #204645;
}

nav a:active {
    background-color: #BCD3C0;
    color: #1F2421;
}

a {
    color: #E9ECEA;
}

p{
    font-size: xx-large;
}

footer {
    background-color: #2B655B;
    text-align: center;
    color: #E9ECEA;
    padding: 1%;
}