* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fondiji.jpg);
    background-attachment: fixed;
}

#page {
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 236, 234, 0.4);
}

#actulu1 {
    border: #2B655B;
    border-width: 1%;
    border-style: dashed;
    justify-content: space-around;
}

#eventflo {
    border: #2B655B;
    border-width: 1%;
    border-style: dashed;
    text-align: right;
}

#actulu2 {
    border: #2B655B;
    border-width: 1%;
    border-style: dashed;
}

h1 {
    font-size: 130%;
    margin: 10%;
}

p{
    font-size: 110%;
    margin: 7%;
} 


