/* HEADER */

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #2B655B;
    padding: 20px;
    border-radius: 50px;
    margin: 5px;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

header a {
    color: #E9ECEA;
    text-decoration: none;
    font-weight: bold;
}

.logodij {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.menu {
    width: auto;
}

#hamburger {
    display: none;
}

#hamburger-logo {
    cursor: pointer;
    background:#204645;
    display: block;
    color: #E9ECEA;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 200%;
    border-radius: 10px;
}

#navi {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: right;
    font-size: 140%;
    width: 100%;
    justify-self: flex-start;
    display: none;
}

header:has(#hamburger:checked) #navi {
    display: flex;
}

nav a {
    display: block;
    background:#2B655B;
    padding: 1%;
}

nav a:active {
    background-color: #BCD3C0;
    color: #1F2421;
}

nav a:hover {
    color: #49A078;
}

#langu {
    padding: 15px;
}

/* FOOTER */

footer {
    background-color: #2B655B;
    color: #E9ECEA;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.container-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

footer h2 {
    font-size: 30px;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
    line-height: 1.8;
}

footer a {
    color: #E9ECEA;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
    line-height: 1.8;
}

footer a:hover {
    color: #49A078;
}

.separate-footer {
    width: 75%;
    height: 1px;
    background-color: #E9ECEA;
    margin: 2rem auto;
}

.mention-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9rem;
}

.container-footer {
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

footer h2 {
    font-size: 22px;
}

footer ul {
    font-size: 15px;
}

footer a {
    font-size: 15px;
}